@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@400;500;600;700&family=Poppins:wght@200;300;400;600;700&display=swap');

/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --opensans: 'Open Sans', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #34495e;
    margin-top: 2rem;
    background-image: url("background.jpg");
}

.max-width {
    width: 100%;
    height: 100vh;

}

body {
    width:100%;
  }
  
.swiper-slide .card hr{
    
    display:block;
    position:absolute;
    top:17%;
    left:50%;
    border-bottom:4px solid rgb(88, 83, 83);
    width:0%;
    text-align:center;
    animation: line 1s linear forwards;
        
}

.mySwiper2 {
    width: 100%;
    height: 60vh;
}

.swiperContainer {
    margin-top: 4rem;
    width: 40%;
    height: 60vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.swiper-slide .card {
    /* display: block; */
    width: 100%;
    height: 60vh;
}

.card:hover {
    border: 2px solid blanchedalmond;
    border-color: blanchedalmond;
    
    border-radius: 16px;
    text-transform: capitalize;
     box-shadow: 0px 0px 999px 600px rgba(255, 255, 255, 0.5);
     z-index: 500;
    color:rgb(31, 37, 33);
   }
.mySwiper {
    margin-top: 2rem;
    height: 10rem;
}
.mySwiper .cardthumb{
    border: solid;
    height: 10rem;
    font-size: 1.5rem;
    place-items: center;
    object-fit: cover;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);



}
.swiper-slide .cardthumb h2{
    position: absolute;
    bottom: 2px;
    top: 2px;
    left: 10px;
    right: 2px;
    animation:
        slideUp 0.75s .5s cubic-bezier(0.17,.88,.32,1.27) both,
        fadeIn .25s .5s ease-in both;
        padding: 0 20px;
}
.card h2{
    
    animation:
    slideUp 0.75s .5s cubic-bezier(0.17,.88,.32,1.27) both ,
    fadeIn .25s .5s ease-in both ;
    animation-duration: 1s;
    animation-iteration-count: 1;
    padding: 0 20px;
    text-align: center;
    text-shadow: 3px 3px 7px rgba(0,0,0,.61);
    top: 20%;
    width: 100%;
    height: 70px;
    font-size: 3.5rem;

}


.swiper-slide .cardthumb:hover{
    font-size: 1.70rem;
    place-items: center;
    border-color: blanchedalmond;

}
.card p{
    color: rgb(36, 35, 35);
    font-size: 2rem;
    font-family: var(--opensans);
    padding: 4rem;
}
.swiper-slide{
    padding: 0rem 0rem;
    width: 60%;
    height: 60vh;
}
@keyframes line {
    from {
      left:50%;
      width:0%;
    }
    to {
      left:5%;
      width:90%;
    }
  }



@keyframes slideUp {
    from {transform: translateY(0%);}
    to {transform:translateY(35%);}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: .7;}
}

