.screen{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}

.card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.767);
    border-radius: 16px;
    height: 70vh;
    width: 100vh;
    box-shadow: 0 0 32px 8px rgba(53, 51, 51, 0.808);
    overflow: scroll;
    position: relative;
}
.cardHeader{
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    align-items: center;
    padding-bottom: 8px;
    position: sticky;
    top: 0px;
    background-color: white;
}
.circle1, .circle2{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: black;
}

.circle2{
    background-color: white;
    border: 2px solid black;
}
.cardHeader p{
    padding-left: 20px;
    margin: 0;
    
}

.cardContent{
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
}