
    .container1 {
        position: relative;
        width: 70%;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        margin: 0;
        opacity: 0;
        transition: 1s ease-in-out;
        overflow: hidden;
    }

    .slide img {
        width: 100%;
		height: 300px;

    }
	.carouselPlace
	{
		padding-top: 30px !important;
	}


    .dots_container {
        display: flex;
        margin: 5px auto;
        width: fit-content;
		position: absolute;
		top: 90%;
		left: 50%;
		transform: translate(-50%, -50%);
    }

    .dots {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: #bdbdbd;
        margin: 4px;
    }

    .dots:hover {
        background: #696969 !important;
    }

    @media screen and (max-width:600px) {
      .slide{
        height:fit-content;
      }
      .container1{
                height:200px;
            
            }
    }

.img-size
{
    max-height: 400px;
}


 /* Secondary Carousel ::: */


    /* <section class="carousel">
                <input class="carousel__input" type="radio" id="carousel__slide--1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                <div class="carousel__slide">
                  <img class ="properties" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/334248/earth_front_1.jpg">
                
                </div>
              
                <input class="carousel__input" type="radio" id="carousel__slide--2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel__slide">
                  <img class ="properties" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/334248/earth_front_2.jpg">
                 
                </div>
              
                <input class="carousel__input" type="radio" id="carousel__slide--3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel__slide">
                  <img class ="properties" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/334248/earth_front_3.jpg">
                
                </div>
              
                <input class="carousel__input" type="radio" id="carousel__slide--4" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel__slide">
                  <img class ="properties" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/334248/earth_front_4.jpg">
                
                </div>
              
                <input class="carousel__input" type="radio" id="carousel__slide--5" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel__slide" >
                  <img class ="properties" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/334248/earth_front_5.jpg">
                 
                </div>
                
                <!-- ARROWS -->
                <label for="carousel__slide--5" class="carousel__arrow carousel__arrow--prev carousel__arrow--1"></label>
                <label for="carousel__slide--5" class="carousel__arrow carousel__arrow--next carousel__arrow--4"></label>
                <label for="carousel__slide--4" class="carousel__arrow carousel__arrow--prev carousel__arrow--5"></label>
                <label for="carousel__slide--4" class="carousel__arrow carousel__arrow--next carousel__arrow--3"></label>
                <label for="carousel__slide--3" class="carousel__arrow carousel__arrow--prev carousel__arrow--4"></label>
                <label for="carousel__slide--3" class="carousel__arrow carousel__arrow--next carousel__arrow--2"></label>
                <label for="carousel__slide--2" class="carousel__arrow carousel__arrow--prev carousel__arrow--3"></label>
                <label for="carousel__slide--2" class="carousel__arrow carousel__arrow--next carousel__arrow--1"></label>
                <label for="carousel__slide--1" class="carousel__arrow carousel__arrow--prev carousel__arrow--2"></label>
                <label for="carousel__slide--1" class="carousel__arrow carousel__arrow--next carousel__arrow--5"></label>
              
              </section> */



              /* CSS Reset | https://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain) */




/* IMAGE CAROUSEL */
/* .carousel__caption {
	width: 340px;
	max-width: 80%;
	margin: 24px auto 0;
}
.carousel__caption p {
	font: 400 9px "Roboto", sans-serif !important;
	color: #c1c1c1 !important;
	text-align: left;
}
.carousel__caption a {
	text-decoration: underline;
	color: #fff;
}
.carousel {
	position: relative;
	width: 100%;
	height: 504px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	transform: translateZ(0px); /* stops flickering */
/* }
.carousel__buffer {
	display: none;
}
.carousel__buffer img {
	margin: 55px auto 18px;
	width: 553px;
	height: 347px;
}
.carousel__slide {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	background: no-repeat center top;
	background-size: cover;
	overflow: auto;
}
.carousel__slide img {
	display: block;
	position: relative;
	margin: 55px auto 50px;
	width: 553px;
	height: 347px;
	-webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
}

.carousel__input:checked + .carousel__slide {
	position: static;
	opacity: 1;
}
.carousel__arrow {
	position: absolute;
	display: none;
	cursor: pointer;
	background: #191919;
	top: 210px;
	left: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 10;
}
.carousel__arrow:before {
	position: absolute;
	content: "";
	padding: 8px; /* Arrow size */
	/* box-shadow: 1px -1px 0 1px #0072bc inset;
	-webkit-box-shadow: 2px -2px #0072bc inset;
	-moz-box-shadow: 2px -2px #0072bc inset;
	border: solid transparent;
	border-width: 0 0 2rem 2rem;
}
.carousel__arrow--prev {
	margin-left: -343px;
}
.carousel__arrow--prev:before {
	transform: rotate(45deg);
	margin: -4px 0 0 -24px;
}
.carousel__arrow--next {
	margin-left: 303px;
}
.carousel__arrow--next:before {
	transform: rotate(225deg);
	margin: -4px 0 0 15px;
}

#carousel__slide--1:checked ~ .carousel__arrow--1,
#carousel__slide--2:checked ~ .carousel__arrow--2,
#carousel__slide--3:checked ~ .carousel__arrow--3,
#carousel__slide--4:checked ~ .carousel__arrow--4,
#carousel__slide--5:checked ~ .carousel__arrow--5 {
	display: block;
}

.carousel__bullets {
	list-style: none;
	margin: 12px auto -6px;
	padding: 0;
	position: absolute;
	top: 408px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.carousel__bullets li {
	display: inline-block;
}
.carousel__bullets--bullet {
	cursor: pointer;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 4px 0;
	border-radius: 50%;
	background: rgba(0,0,0,0);
	border: 1px solid #6e7c7f;
}

#carousel__slide--1:checked ~ .carousel__arrow--1 ~ .carousel__bullets li:nth-child(1) .carousel__bullets--bullet,
#carousel__slide--2:checked ~ .carousel__arrow--2 ~ .carousel__bullets li:nth-child(2) .carousel__bullets--bullet,
#carousel__slide--3:checked ~ .carousel__arrow--3 ~ .carousel__bullets li:nth-child(3) .carousel__bullets--bullet,
#carousel__slide--4:checked ~ .carousel__arrow--4 ~ .carousel__bullets li:nth-child(4) .carousel__bullets--bullet,
#carousel__slide--5:checked ~ .carousel__arrow--5 ~ .carousel__bullets li:nth-child(5) .carousel__bullets--bullet {
	background: #0072bc;
	box-shadow: inset 0 0 0 2px #12171b; /* Separates blue dot from border */
/* }

@media screen and (max-width: 690px) {
	.carousel__buffer {
		width: 100%;
		position: relative;
		display: inline-block;
		visibility: hidden;
		z-index: -1;
		padding-bottom: 120px;
	}
	.carousel__buffer img {
		width: 100%;
		height: auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-top: 0;
	}
	.carousel {
		height: auto;
		overflow: visible;
	}
	.carousel__slide {
		-webkit-transition: opacity 0s;
		-moz-transition: opacity 0s;
		-o-transition: opacity 0s;
		transition: opacity 0s;
		position: absolute;
		top:0;
		height: auto;
		background: transparent none !important;
     
	}
	.carousel__slide img {
		width: 100%;
		height: auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-top: 0;
	}
	.carousel__arrow {
		top: calc(50% - 70px);
	}
	.carousel__arrow--prev {
		margin-left: -48%;
	}
	.carousel__arrow--next {
		margin-left: calc(48% - 40px);
	}
	.carousel__bullets {
		top: auto;
		bottom: 40px;
	}
} 
.properties
{
    max-height: 300px;
} */