:root {
    --hue: 395;
  }
  
  h7 {
    --x-quadrant: 1;
    --y-quadrant: 1;
    
    color: hsl(var(--hue) 90% 90%);
    text-shadow:
      calc(var(--x-quadrant) * 10px) calc(var(--y-quadrant) * 10px) 0 hsl(var(--hue) 70% 75%),
      calc(var(--x-quadrant) * 20px) calc(var(--y-quadrant) * 20px) 0 hsl(var(--hue) 70% 65%),
      calc(var(--x-quadrant) * 30px) calc(var(--y-quadrant) * 30px) 0 hsl(var(--hue) 70% 55%),
      calc(var(--x-quadrant) * 40px) calc(var(--y-quadrant) * 40px) 0 hsl(var(--hue) 70% 45%),
      calc(var(--x-quadrant) * 50px) calc(var(--y-quadrant) * 50px) 0 hsl(var(--hue) 70% 35%);
    transition: text-shadow .2s ease;
    
    text-transform: uppercase;
    font-size: 7vmax;
    transform: translate(23%);
    margin: 0;
    line-height: .8em;
    inline-size: min-content;
  }
  
  
  