*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-size: 62.5%; */
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 57%;
    }
}

body {
    background-color: #000;
    color: #fff;
}

@media only screen and (max-width: 1000px) {
    body {
        padding: 0;
    }
}

.container {
    
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
}

@media only screen and (max-width: 1000px) {
    .container {
        border-radius: 0;
        margin-right: 10px;
    }
}

.sliderEvents {
    display: flex;
    width: 600%;
    height: 55rem;
    transition: all 0.25s ease-in;
    transform: translateX(0);
}

@media only screen and (max-width: 1000px) {
    .sliderEvents {
        height: 100vh;
    }
}

.sliderEvents .box {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;
    position: relative;
}

@media only screen and (min-width: 1100px) {
    .box3 .eventsLogo {
        position: relative;
        top: -50px;
    }
}

@media only screen and (max-width: 770px) {
    .sliderEvents .box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

.sliderEvents .box .bg {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.35);
    width: 55%;
    transform: skewX(7deg);
    position: absolute;
    height: 100%;
    left: -10%;
    padding-left: 20rem;
    transform-origin: 0 100%;
}

@media only screen and (max-width: 800px) {
    .sliderEvents .box .bg {
        width: 65%;
    }
}

@media only screen and (max-width: 770px) {
    .sliderEvents .box .bg {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 54%;
        transform: skewX(0deg);
    }
}

.sliderEvents .box .bg::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: inherit;
    pointer-events: none;
    transform: skewX(10deg);
}

@media only screen and (max-width: 770px) {
    .sliderEvents .box .bg::before {
        width: 120%;
        bottom: 0;
        transform: skewX(0deg);
    }
}

.sliderEvents .box .details {
    padding: 5rem;
    padding-left: 10rem;
    z-index: 100;
    grid-column: 1 / span 1;
    grid-row: 1/-1;
}

@media only screen and (max-width: 770px) {
    .sliderEvents .box .details {
        grid-row: 2 / span 1;
        grid-column: 1/-1;
        text-align: center;
        padding: 2rem;
        transform: translateY(-9rem);
    }
}

.sliderEvents .box .details h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.sliderEvents .box .details p {
    display: inline-block;
    font-size: 1.3rem;
    color: #b5b4b4;
    margin-bottom: 2rem;
    margin-right: 5rem;
}

@media only screen and (max-width: 800px) {
    .sliderEvents .box .details p {
        margin-right: 0;
    }
}

.sliderEvents .box .details button {
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sliderEvents .box .details button:hover {
    opacity: 0.8;
}

.sliderEvents .box .details button:focus {
    outline: none;
    border: none;
}

.sliderEvents .box2 {
    background-color: #1f7fafd3;
}

.sliderEvents .box1 button {
    background-color: #ff0077;
}

.sliderEvents .box1 {
    background-color: #1c92e0c9;
}

.sliderEvents .box2 button {
    background-color: #0033ff;
}

.sliderEvents .box3 {
    background-color: #1c92e0c2;
}

.sliderEvents .box3 button {
    background-color: #00ff44;
}

.sliderEvents .box4 {
    background-color: #1f7fafbe;
}

.sliderEvents .box4 button {
    background-color: #ff4e00;
}

.sliderEvents .box5 {
    background-color: #051658b6;
}

/*
.sliderEvents .box5 .illustration .inner {
  background-color: #8000ff;
}
.sliderEvents .box5 .illustration .inner::after,
.sliderEvents .box5 .illustration .inner::before {
  background-color: rgba(128, 0, 255, 0.4);
}
*/

.sliderEvents .box5 button {
    background-color: #1431d8b2;
}

.sliderEvents .illustration {
    grid-column: 2/-1;
    grid-row: 1/-1;
    justify-self: center;
}

@media only screen and (max-width: 770px) {
    .sliderEvents .illustration {
        grid-row: 1 / span 1;
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*
.sliderEvents .illustration div {
  height: 25rem;
  width: 18rem;
  border-radius: 3rem;
  background-color: #FF0077;
  position: relative;
  transform: skewX(-10deg);
}
*/

@media only screen and (max-width: 800px) {
    .sliderEvents .illustration div {
        height: 20rem;
        width: 15rem;
    }

    .aboutbutton {
        left: 40%;
    }
}

.sliderEvents .illustration div::after,
.sliderEvents .illustration div::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    top: 0;
    left: 0;
}

.sliderEvents .illustration div::after {
    transform: translate(4rem, -1rem);
}

.sliderEvents .illustration div::before {
    transform: translate(2rem, -2rem);
}

.prev,
.next,
.trail {
    z-index: 600;
    position: absolute;
}

.prev,
.next {
    width: 4rem;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 770px) {
    .prev,
    .next {
        display: none;
    }
}

.prev:hover,
.next:hover {
    opacity: 1;
}

.prev {
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

.next {
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.trail {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    text-align: center;
    font-size: 1.5rem;
    z-index: 600;
}

@media only screen and (max-width: 770px) {
    .trail {
        width: 90%;
        bottom: 13%;
    }

    .aboutbutton {
        left: 40%;
    }
}

.trail div {
    padding: 2rem;
    border-top: 3px solid #fff;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s ease;
}

.trail div:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 770px) {
    .trail div {
        padding: 1rem;
    }

    .aboutbutton {
        left: 40%;
    }
}

.active {
    opacity: 1 !important;
}

a {
    text-decoration: none;
}

.aboutbutton {
    padding: 10px 50px;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #4cd7d0;
    background-color: transparent;
    position: relative;
    top: 5%;
    color: black;
    font-family: 'Poppins';
    transition: background-color 0.5s;
    margin-top: 50px;
    vertical-align: middle;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
}

.aboutbutton {
    transition: background-color 0.5s;
    color: #4cd7d0 !important;
}

.aboutbutton:focus {
    outline: none;
}

.aboutbutton:hover {
    background-color: #4cd7d0;
    color: white !important;
}

.eventsLogo {
    width: 600px;
    margin-right: 100px;
}

@media only screen and (max-width: 1050px) {
    .eventsLogo {
        padding-left: 100px;
    }

    .box6 .eventsLogo {
        width: 450px;
    }

    .box6 .details p {
        font-size: 1.1rem;
    }

    .box2 .eventsLogo,
    .box4 .eventsLogo {
        width: 500px;
    }

    .box1 .eventsLogo,
    .box3 .eventsLogo {
        padding-left: 0px;
        padding-right: 200px;
    }
}
@media (min-width: 700px) and (max-width: 770px) {
    .box .eventsLogo {
        width: 600px;
        position: relative;
        left: -220px;
        padding-left: 0;
        bottom: 40px;
    }

    .box1 .eventsLogo,
    .box3 .eventsLogo {
        width: 800px;
        padding-right: 200px;
        top: -100px;
    }

    .box2 .eventsLogo {
        top: -120px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .box3 .eventsLogo {
        top: -200px;
    }

    .container {
        width: 700px;
        margin-left: 34px;
        margin-right: 0;
        padding: 0;
    }

    .box p {
        font-size: 2rem !important;
        padding: 10px;
    }
}

@media (max-width: 480px ) {
    .box6 .eventsLogo {
        width: 364px;

    }
}

@media only screen and (max-width: 650px) {
    .inner {
        padding-right: 400px;
    }

    .box1 .eventsLogo,
    .box3 .eventsLogo {
        width: 400px;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        left: -20px;
    }

    .box1 h5 {
        padding-top: 50px;
    }

    .box2 .eventsLogo {
        width: 400px;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        left: -20px;
    }

    .box4 .eventsLogo {
        width: 400px;
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        left: -20px;
    }

    .box5 .eventsLogo {
        width: 400px;
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        left: -20px;
    }

    .box6 .eventsLogo {
        width: 400px;
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        left: -20px;
    }


    .box3 .eventsLogo {
        position: relative;
        top: -100px;
    }

    .box h5 {
        font-size: 4rem !important;
        padding-right: 50px;
    }

    .box1 h5,
    .box3 h5 {
        position: relative;
        top: 10px;
    }

    .box1 p,
    .box3 p {
        position: relative;
        top: 20px;
    }

    .box p {
        padding-right: 50px;
    }

    .container {
        width: 350px;
        padding-left: 0;
        padding-right: 0;
        left: -20px;
    }
}

@media only screen and (max-width: 400px) {
    .box1 .eventsLogo,
    .box3 .eventsLogo {
        position: relative;
        left: -20px;
        padding-left: 10px;
        padding-right: 40px;
        width: 400px;
    }


    .box1 h5 {
        padding-top: 50px;
    }

    .box2 .eventsLogo {
        width: 350px;
        position: relative;
        left: -10px;
    }

    .box4 .eventsLogo {
        width: 350px;
        padding-right: 10px;
        position: relative;
        left: -20px;
    }

    .box5 .eventsLogo {
        width: 350px;
        padding-right: 0px;
        position: relative;
        left: -18px;
    }

    .box h5 {
        font-size: 1.2rem;
        padding-right: 80px;
    }

    .box1 h5,
    .box3 h5 {
        position: relative;
        font-size: 4.2rem !important;
        top: 15px;
    }

    .box1 p,
    .box3 p {
        position: relative;
        top: 15px;
    }

    .box p {
        padding-right: 80px;
    }

    .container {
        width: 325px;
        left: -15px;
    }
}


.main_heading {
    font-size: 3rem;
    text-align: center;
}

.sub_heading {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 3rem;
}

.hackocardproblem{
    width: 81%;
    height: auto;
    padding-bottom: 25px;
}

.problemStatementContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.statementContainer {
    grid-area: 1 / 1 / 7 / 2;
    border: 1px solid black;
}

.div2 {
    grid-area: 1 / 2 / 6 / 4;
}

.div3 {
    grid-area: 5 / 2 / 7 / 4;
}

.statement {
    padding: 20px;
    border: 1px solid black;
}

.statement:hover{
    background-color: #cd8983 !important;
}
.showContainer {
    display: none;
    color: #000;
    border: 1px solid black;
    margin: 3rem 2rem 3rem 2rem;
}

.active {
    display: block;
}

.problems-mobile{
    display: none;
}


@media only screen and (max-width:1025px) {
    .hackocardproblem{
        padding-bottom: 0px;
    }
}

@media only screen and (max-width:769px) {
    .sub_heading{
        font-size: 1rem;
    }
}

@media only screen and (max-width:500px){
    .problems-mobile{
        display: block;
    }
    .problems-laptop{
        display: none;
    }
}

