.tray-container {
    width: 10%;
    margin: 50px auto;
}
.social-container {
    height: 100%;
    position: relative;
}
.social-container .social {
    background: radial-gradient(100% 70% at 0% 0%, rgba(255, 255, 255, 0.425) 0%, rgba(255, 255, 255, 0.103) 80%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    width: 70px;
    height: 70px;
    position: relative;
}
.social-container .social-toggle {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}
.tray-icon
{
    padding-left: 36px;
}
.social-container .social-drop {
    height: 300px;
    width: 70px;
    background: radial-gradient(100% 70% at 0% 0%, rgba(255, 255, 255, 0.425) 0%, rgba(255, 255, 255, 0.103) 80%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    position: absolute;
    top: 80px;
    border-radius: 30px;
}
.social-container .social-drop ul {
    margin-top: 10px;
}
.social-container .social-drop li {
    font-size: 35px;
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-left: -23px;
    color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.social-container .social-drop .ln:hover {
    color: #D7BA89;
}
.social-container .social-drop .fb:hover {
    color: #D7BA89;
}
.social-container .social-drop .git:hover {
    color: #D7BA89;
}
.social-container .social-drop .web:hover {
    color: #D7BA89;
}
.social-container .social-drop .insta:hover {
    color: #D7BA89;
}
