.tray-container {
  width: 10%;
  position: absolute;
  top: 15%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.social-container {
  position: relative;
}
.social-container .social {
  background: radial-gradient(
    100% 70% at 0% 0%,
    rgba(255, 255, 255, 0.425) 0%,
    rgba(255, 255, 255, 0.103) 80%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  /* width: 70px;
  height: 70px; */
  position: relative;
}
.social-container .social-toggle {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  /* width: 70px;
  height: 70px; */
  text-align: center;
  padding-top: 20px;
  color: black;
}
.tray-icon {
  padding-left: 36px;
}
.social-container .social-drop {
  height: 300px;
  width: 70px;
  background: radial-gradient(
    100% 70% at 0% 0%,
    rgba(255, 255, 255, 0.425) 0%,
    rgba(255, 255, 255, 0.103) 80%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 80px;
  border-radius: 30px;
}
.social-container .social-drop ul {
  margin-top: 10px;
}
.social-container .social-drop li {
  font-size: 35px;
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-left: -23px;
  color: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: none;
}

@media (min-width: 1000px) and (min-height: 1300px) {
  .social-container .social-drop {
    top: 300px;
  }
}

@media (max-width: 780px) {
  .tray-icon {
    padding-left: 36px;
  }
  .social-container .social-drop {
    height: 260px;
    top: 200px;
    width: 60px;
  }
  .social-container .social-drop li {
    font-size: 30px;
    width: 30px;
    margin-left: -23px;
    height: 34px;
  }
}
@media (max-width: 500px) {
  .social-container .social-drop {
    height: 212px;
    top: 140px;
    width: 54px;
  }
  .social-container .social-drop li {
    font-size: 26px;
    width: 26px;
    height: 24px;
  }
}
@media (max-width: 400px) {
  .social-container .social-drop {
    top: 110px;
  }
}
@media (max-width: 400px) and (min-height: 800px) {
  .social-container .social-drop {
    top: 160px;
  }
}
@media (max-width: 350px) {
  .social-container .social-drop {
    height: 190px;
    top: 90px;
    width: 46px;
  }
  .social-container .social-drop li {
    font-size: 22px;
    width: 18px;
    height: 20px;
  }
}

.social-container .social-drop .ln:hover {
  color: #d7ba89;
}
.social-container .social-drop .fb:hover {
  color: #d7ba89;
}
.social-container .social-drop .git:hover {
  color: #d7ba89;
}
.social-container .social-drop .web:hover {
  color: #d7ba89;
}
.social-container .social-drop .insta:hover {
  color: #d7ba89;
}
