.sponsor-card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background: radial-gradient(
      100% 70% at 0% 0%,
      rgba(255, 255, 255, 0.425) 0%,
      rgba(255, 255, 255, 0.103) 80%
    );
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(24px);
    transform: rotate(-0.19deg);
    /* align-items: center; */
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.767);
    border-radius: 16px;
    height: 70%;
    width: 100%;
    box-shadow: 0 0 32px 8px rgba(53, 51, 51, 0.808);
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    margin-top: 10%;
  }
  .sponsor-card::-webkit-scrollbar {
    width: 5px;
  }
  
  .sponsor-img {
    /* justify-content: center; */
    /* align-items: center; */
    width: 140px;
    height: 70px;
  
    /* border: 2px solid rgba(0, 0, 0, 0.767); */
    border-radius: 10px;
    box-shadow: 0 0 15px 8px rgba(39, 21, 11, 0.808);
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .sponsor-img-platinum {
    /* justify-content: center; */
    /* align-items: center; */
    width: 200px;
    height: 100px;
  
    /* border: 2px solid rgba(0, 0, 0, 0.767); */
  
    border-radius: 10px;
    box-shadow: 0 0 15px 8px rgba(39, 21, 11, 0.808);
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .sponsor-img-gold {
    /* justify-content: center; */
    /* align-items: center; */
    width: 160px;
    height: 80px;
  
    /* border: 2px solid rgba(0, 0, 0, 0.767); */
    border-radius: 10px;
    box-shadow: 0 0 15px 8px rgba(39, 21, 11, 0.808);
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .sponsor-img1 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
  }