.sponsor-card {
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    100% 70% at 0% 0%,
    rgba(255, 255, 255, 0.425) 0%,
    rgba(255, 255, 255, 0.103) 80%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  color: white;
  border-radius: 16px;
  box-shadow: 0 0 32px 8px rgba(53, 51, 51, 0.808);
  position: relative;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 32px;
  overflow: hidden;
  width: 106.5%;
  overflow-x: hidden;
}
.gold{
  height: auto !important;
}
.platinum{
  height: auto !important;
}
.silver{
  height: auto !important;
}

.sponsor-carder{
  position: relative;
  left: -2.5%;
  border-radius: 50px;
}

.sponsor-carder1{
  width: auto !important;
  height: auto !important;
  position: relative;
  left: 45%;
  border-radius: 50px;
}

.abc{
  text-align: center;
}


.sponsorbtn{
  background-color: white !important;
  color: black !important;
  border-radius: 50px ;
  border: none;
  padding: 10px 40px;
  position: relative;
  margin: 1px;
}


.sponsor-card::-webkit-scrollbar {
  width: 5px;
}

.platinum {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(153, 160, 165, 0.6) 0%,
    rgba(153, 160, 165, 0.02) 100%
  ) !important;
  backdrop-filter: blur(27.1277px) !important;
}
.platinum .cardHeader {
  background-color: #c2c1c1;
  border-radius: 16px 16px 0px 0px;
}
.gold {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(216, 187, 33, 0.6) 0%,
    rgba(216, 187, 33, 0.02) 100%
  ) !important;
  backdrop-filter: blur(27.1277px) !important;
}
.gold .cardHeader {
  /* background-color: #D8BB21; */
  background-color: #c7ae22;
  border-radius: 16px 16px 0px 0px;
}
.silver {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(192, 192, 192, 0.6) 0%,
    rgba(192, 192, 192, 0.02) 100%
  ) !important;
  backdrop-filter: blur(27.1277px) !important;
}
.silver .cardHeader {
  /* background-color: #C0C0C0; */
  background-color: #a1a1a1;
  border-radius: 16px 16px 0px 0px;
}

.sponsor-img-platinum {
  width: 250px;
  height: 110px;
  border-radius: 10px;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  transition: 0.5s box-shadow;
}
.sponsor-img-platinum:hover{
  box-shadow: 0 0 15px 8px rgba(39, 21, 11, 0.808);
}
.sponsor-img-gold {
  width: 200px;
  height: 80px;
  border-radius: 10px;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  transition: 0.5s box-shadow;
}
.sponsor-img-gold:hover{
  box-shadow: 0 0 15px 8px rgba(39, 21, 11, 0.808);
}
.sponsor-img {
  width: 180px;
  height: 65px;
  border-radius: 10px;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  transition: 0.5s box-shadow;
}
.sponsor-img:hover{
  box-shadow: 0 0 15px 8px rgba(39, 21, 11, 0.808);
}

.sponsor-img1 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
}

@media only screen and (max-width: 1025px) {
  .sponsor-img-platinum {
    width: 160px;
    height: 80px;
  }
  .sponsor-img-gold {
    width: 140px;
    height: 70px;
  }
  .sponsor-img {
    width: 120px;
    height: 50px;
  }
  .sponsor-carder{
    left: -2%;
  }
  .sponsor-carder1{
    left: 40%;
  }
}

@media only screen and (max-width: 769px) {
  .sponsor-img-platinum {
    width: 150px;
    height: 70px;
  }
  .sponsor-img-gold {
    width: 110px;
    height: 50px;
  }
  .sponsor-img {
    width: 110px;
    height: 40px;
  }
  .sponsor-carder1{
    left: 36%;
  }
  .sponsor-carder{
    left: -2.5%;
  }
}

@media only screen and (max-width: 415px) {
  .sponsor-img-platinum {
    width: 250px;
    height: 125px;
  }
  .sponsor-img-gold {
    width: 210px;
    height: 105px;
  }
  .sponsor-img {
    width: 180px;
    height: 90px;
  }

  .sponsor-card {
    height: 65vh;
    margin: 30px 0 !important;
  }

  .sponsor-card1 {
    height: 65vh;
    width: 93% !important;
    position: relative;
    left: 4%;
  }
  .sponsor-card{
    width: 132%;
  }
  .sponsor-carder1{
    left: 31%;
  }
  .sponsor-carder{
    left: -10%;
  }
}

@media only screen and (max-width: 376px){
  .sponsor-carder1{
    left: 27%;
  }
  .sponsor-carder{
    left: -10%;
  }
}

@media only screen and (max-width: 361px) {
  .sponsor-img-platinum {
    width: 220px;
    height: 110px;
  }
  .sponsor-img-gold {
    width: 180px;
    height: 90px;
  }
  .sponsor-img {
    width: 160px;
    height: 80px;
  }
  .sponsor-carder1{
    left: 25%;
  }
  .sponsor-carder{
    left: -10%;
  }
}

@media only screen and (max-width: 321px) {
  .sponsor-img-platinum {
    width: 200px;
    height: 100px;
  }
  .sponsor-img-gold {
    width: 160px;
    height: 80px;
  }
  .sponsor-img {
    width: 140px;
    height: 70px;
  }
  .sponsor-carder1{
    left: 20%;
  }
  .sponsor-carder{
    left: -10%;
  }
}
