/* *{ */
    /* cursor: none;     */
    /* caret-color: black; */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@media only screen and (min-width :1000px) {
    .cardSize{
        height: 75vh!important;
    }
}
body{
    overflow-x: hidden;
    background-image: url("../media/looped.gif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: black!important; */

}

/* Bottom Nav  */
.bottomnav-area{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    bottom: 0;
    z-index: 1000;
}

.bottomnav{
    position: fixed;
    background: #cc804279;
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    padding: 8px 16px;  
}
.bottomnav div{
    margin: auto 8px;
}
.bottomnav img{
    width: 40px;
}

.containerr
{
    padding: 0 80px;
}

/* Landing Page  */

.landing{
    display: flex;
    align-items: center;
    padding: 24px auto;
    text-align: center;
    
}

.register-buttons{
    margin-top: 50px;
}

.register-buttons button{
    width: 250px;
    margin: 0px 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #3859EF;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    filter: drop-shadow(0px 3.69827px 1.84913px rgba(0, 0, 0, 0.25));
}

.mentorbtn{
    width: 250px;
    margin: 0px 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #3859EF;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    filter: drop-shadow(0px 3.69827px 1.84913px rgba(0, 0, 0, 0.25));
}

.carouselDisp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#timer{
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    letter-spacing: -1px;
    margin-top: 30px;
}

.countdowntime{
    margin: 0px 10px;
}

#timer span {
    font-size: 60px;
    color: white;
    margin: 0 3px 0 15px;
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0.02) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(32px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.089);
    transform: rotate(-0.19deg);
    padding: 15px 15px;
  }
  #timer span:first-child {
    margin-left: 0;
  }

/* Footer  */

.aboutowaspcard{
    display: flex;
    flex-direction: column;
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0.02) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(32px);
    transform: rotate(-0.19deg);
    border: 1px solid rgba(0, 0, 0, 0.767);
    color:rgba(255, 255, 255, 0.705);
    border-radius: 4px;
    height: 37vh;
    width: fit-content;
    box-shadow: 0 0 32px 8px rgba(53, 51, 51, 0.808);
    margin-bottom: 16px;
    padding-bottom: 16px;
    overflow: scroll;
}

.aboutowaspcard::-webkit-scrollbar {
    width: 5px;
}

.maps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0%;
}

.mapContent{
    display: flex;
    flex-direction: column;
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0.02) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(32px);
    transform: rotate(-0.19deg);
    border: 1px solid rgba(0, 0, 0, 0.767);
    border-radius: 4px;
    height: 40vh;
    width: fit-content;
    box-shadow: 0 0 32px 8px rgba(53, 51, 51, 0.808);
}

.searchbox-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.searchbox{
    width: 90%;
    height: 30px;
    border-radius: 25px;
    border: 1px solid black;
}

.socialhandles{
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll; */
    justify-content: center;
}

.socialbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.socialbox a{
    text-decoration: none;
    color: black;
}

.iconbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.185);
    /* margin: 20px 20px 0px 20px; */
    border-radius: 5px;
}

.iconbox i{
    font-size: 32px;
}

.map-phone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.phonecard{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 350px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.055);
    
    border-radius: 5px;
}

.phoneicon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.842);
    margin: 0px 15px 0px 25px;
    border-radius: 5px;
}

.phoneicon i{
    font-size: 42px;
}

.phoneinfo p{
    margin: 0;
}

/* cursor  */

.cursor{
    position: absolute;
    top: 0;
    left: 0;
    /* border: 5px solid white ; */
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
}

.cursor-inner{
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid white; */
    background-color: white;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    transform: translate(100%, 100%);
}

/* loading page  */

.loadingmsg{
    color: white;
}

#dosLoading{
    overflow-y: visible;
}

