/* *{ */
/* cursor: none;     */
/* caret-color: black; */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* @media only screen and (min-width: 1000px) {
  .cardSize {
    height: 75vh !important;
  }
} */
body {
  overflow-x: hidden;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}
canvas {
  width: 100%;
  height: 100%;
}

section {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* #about {
  box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.849);
} */

.main-logo {
  width: 800px;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 5px;
  background: #6a5c7d; 
}



.floating {
  animation: 5s ease-in-out 0s normal none infinite running Floating;
  border: none; }

@-webkit-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px) rotate(0.05deg); }
  65% {
    -webkit-transform: translate(0, -20px) rotate(0.05deg); }
  to {
    -webkit-transform: translate(0, 0px) rotate(0.05deg); } }
@keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px) rotate(0.05deg);
    transform: translate(0, 0px) rotate(0.05deg); }
  65% {
    -webkit-transform: translate(0, -30px) rotate(0.05deg);
    transform: translate(0, -20px) rotate(0.05deg); }
  to {
    -webkit-transform: translate(0, 0px) rotate(0.05deg);
    transform: translate(0, 0px) rotate(0.05deg); } }

@media (max-width: 700px) {
  .main-logo {
    width: 500px;
  }
}
@media (max-width: 440px) {
  .main-logo {
    width: 380px;
  }
}
@media (max-width: 400px) {
  .main-logo {
    width: 340px;
  }
}
@media (max-width: 340px) {
  .main-logo {
    width: 300px;
  }
}

.inverted {
  background-color: white;
  color: black;
}

#tagline {
  color: white;
  letter-spacing: 1px;
  font-size: 1.4em;
  font-weight: 600;

  text-align: center;
  font: bold Sans-Serif;
}



.otto {
  color: white;
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}

/* Bottom Nav  */
.bottomnav-area {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  bottom: 0;
  z-index: 1000;
}

.bottomnav {
  position: fixed;
  background: radial-gradient(
    100% 70% at 0% 0%,
    rgba(255, 255, 255, 0.425) 0%,
    rgba(255, 255, 255, 0.103) 80%
  );
  background-color: rgb(79, 62, 104);
  opacity: 0.9;
  box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.281);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 0px 8px 25px;
}
.bottomnav div {
  margin: auto 8px;
}
.bottomnav img {
  width: 40px;
}
.bottomnav i{
  color: white;
}

.containerr {
  padding: 0 80px;
}

/* Landing Page  */

.landing {
  display: flex;
  align-items: center;
  padding: 24px auto;
  text-align: center;
}

.dis{
  background-color: #7149A1;
  color: white;
  padding: 4px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.dis a{
  text-decoration: none;
  cursor: pointer;
  color: yellow;
}
.dis a:hover
{
  color: greenyellow;
}

.register-buttons {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.mentorbtn {
  margin: 10px 30px;
  padding: 5px 32px;
  font-weight: 400 !important;
  border-radius: 5px !important;
  border: 2px solid white !important;
  background-color: white !important;
  color: #283340 !important;
  font-size: 20px;
  letter-spacing: 0px !important;
  filter: drop-shadow(0px 3.69827px 1.84913px rgba(0, 0, 0, 0.25));
  font-family: 'Poppins', sans-serif !important;
}

.mentorbtn:hover a{
 color: #283340 !important;
}

.mentorbtn a {
  display: flex;
  color: #283340 !important;
  text-decoration: none;
  text-align: center;
}
.aboutContent .teambtn {
  text-align: center;
}
.teamButton {
  display: flex;
  justify-content: center;
}
.teambtn {
  width: 220px;
  margin-top: 30px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #765782 !important;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  filter: drop-shadow(0px 3.69827px 1.84913px rgba(0, 0, 0, 0.25));
}

.teambtn a {
  display: flex;
  color: white !important;
  text-decoration: none;
  width: 250px;
  /* cursor: no-drop !important; */
  /* height: 50px; */
}

/* .teambtn:hover {
  background-color: white;
  color: #201c39;
  border: 1px solid white;
} */

#timer {
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: white;
  letter-spacing: -1px;
  margin-top: 30px;
}

.countdowntime {
  margin: 0px 10px;
}

.ourteambtn{
  cursor: pointer !important;
}

#timer span {
  font-size: 60px;
  color: white;
  margin: 0 3px 0 15px;
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.41) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(32px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.089);
  transform: rotate(-0.19deg);
  padding: 15px 15px;
}
#timer span:first-child {
  margin-left: 0;
}

#timer p {
  margin-top: 5px;
}

@media (max-width: 1100px) {
  .register-buttons {
    margin-top: 100px;
  }
  .register-buttons button {
    margin: 10px 30px;
  }

  #timer {
    margin-top: 100px;
  }

  #timer span {
    font-size: 100px;
  }

  #timer p {
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
  }
}
@media (max-width: 900px) {
  .register-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .register-buttons button {
    margin: 10px auto;
  }

  #timer {
    font-size: 18px;
    margin-top: 60px;
  }

  #timer span {
    font-size: 40px;
    padding: 15px 15px;
  }
  #timer p {
    font-size: 16px;
  }
  .mentorbtn{
    padding: 5px 50px;
  }
}

@media (max-width: 500px) {
  .register-buttons {
    margin-top: 60px;
  }

  .mentorbtn {
    margin: 0px 20px;
    height: 50px;
  }

  #timer {
    font-size: 16px;
    margin-top: 40px;
  }

  .countdowntime {
    margin: 0px 8px;
  }

  #timer span {
    font-size: 30px;
    margin: 0 3px 0 15px;
    padding: 15px 15px;
  }
  #timer p {
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
  }
}

@media (max-width: 350px) {
  #timer span {
    font-size: 20px;
  }
  #timer p {
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 12px;
  }
}

/* about   */

.about {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(118, 87, 130, 0.6) 0%,
    rgba(118, 87, 130, 0.02) 100%
  ) !important;
  backdrop-filter: blur(-1px) !important;
}
.about .cardHeader {
  background-color: #765782;
  border-radius: 16px 16px 0px 0px;
}

.problems{
  background: radial-gradient(100% 100% at 0% 0%, rgba(72, 82, 116, 0.6) 0%, rgba(72, 82, 116, 0.02) 100%) !important;
  backdrop-filter: blur(32px) !important;
}
.problems .cardHeader{
  background-color: #765782;
  border-radius: 16px 16px 0px 0px;
}

.carouselDisp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

#mlhPrizes .pad{
  padding-right: 40px !important;
  padding-left: 40px !important;
}
#mlhPrizes .mlh{
  background: linear-gradient(180deg, #965895 0%, #7149A1 81.04%);
  border: 2px solid black;
  padding: 16px;
  transition: all 200ms;
}
#mlhPrizes .mlh:hover{
  transform: scale(1.05);
  box-shadow: 0px 4px 12px 4px rgba(36, 36, 36, 0.5);
}
#mlhPrizes .hori{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
#mlhPrizes .vert{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mlhPrizes .mlh .dk{
  width: 160% !important;
}
#mlhPrizes .mlh .go{
  margin-top: -60px !important;
}
#mlhPrizes .mlh .txt{
  margin-left: 28px;
}
#mlhPrizes .mlh .txt h3{
  font-size: 24px;
}
#mlhPrizes .mlh .txt h5{
  font-size: 16px;
  font-weight: 400;
}
@media(max-width: 768px) {
  #mlhPrizes .hori{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #mlhPrizes .vert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #mlhPrizes .vert {
    padding-right: 56px !important;
  }
}

/* Footer  */

.aboutFooter {
  width: 100%;
  margin-bottom: 16px;
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(166, 89, 122, 0.6) 0%,
    rgba(166, 89, 122, 0.02) 100%
  ) !important;
  backdrop-filter: blur(32px) !important;
}
.aboutFooter .cardHeader {
  background-color: #a6597a;
  border-radius: 16px 16px 0px 0px;
}

#footer .teamButton a {
  text-decoration: none;
  background-color: #a6597a;
  text-align: center;
  padding: 10px 0px;
  display: inline-block;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
#footer .teamButton a:hover {
  background-color: white !important;
}

.maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

.searchbox-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.searchbox {
  width: 90%;
  height: 30px;
  border-radius: 25px;
  border: 1px solid black;
}

.socialhandles {
  display: flex;
  flex-direction: row;
  /* overflow-x: scroll; */
  justify-content: center;
  text-align: center;
}

.socialbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
.socialbox.facebook {
  margin-right: 0px;
}

.socialbox a {
  text-decoration: none;
  color: white;
  font-size: 40px;
}

.iconbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.185);
  /* margin: 20px 20px 0px 20px; */
  border-radius: 5px;
}

.iconbox i {
  font-size: 32px;
}

.map-phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.phonecard {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 350px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.274);

  border-radius: 5px;
}

.phoneicon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.562);
  margin: 0px 15px 0px 25px;
  border-radius: 5px;
}
.end-border{
  border-radius: 5%;
}
.phoneicon i {
  font-size: 42px;
}
.socialbox a:hover{
  color: white !important;
}
.socialbox p{
  position: relative;
  top: 5px;
}

.phoneinfo p {
  margin: 0;
  color: white !important;
}

/* cursor  */

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 5px solid white ; */
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.cursor-inner {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 1px solid white; */
  background-color: white;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  transform: translate(100%, 100%);
}

.mlh-code {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.616);
  border: 2px solid black;
  margin-top: 40px;
  padding: 10px 0px;
  border-radius: 10px;
}

.mlh-code a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.mlh-code a:hover {
  color: white;
}

/* loading page  */

.loadingmsg {
  color: white;
}

#dosLoading {
  overflow-y: visible;
}

@media only screen and (max-width: 500px) {
  .bottomnav {
    display: none;
  }
}

.concontact {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer */
@media (max-width: 1100px) {
  .map iframe {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 900px) {
  #footer .hackocard {
    padding-bottom: 0px;
  }
  .map iframe {
    width: 400px;
    height: 200px;
  }
  .cardContent.contactUs {
    padding-bottom: 40px;
  }
  .searchbox-div {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 769px) {
  .concontact {
    position: relative;
    top: 300px;
  }
}

@media (max-width: 500px) {
  .socialhandles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .socialbox {
    margin-right: 0px;
  }
  .map iframe {
    width: 280px;
    height: 200px;
  }
  .concontact {
    position: relative;
    top: 350px;
  }
}

.ml6 {
  position: relative;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}