html {
    overflow: scroll;
    overflow-x: hidden;
}
.teamCard ::-webkit-scrollbar {
    width: 6px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    
}

body{
  font-family: 'Poppins';
}

.logo{
  margin: 16px;
}
.logo img
{
  width: 25%;
}


#team-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  
}
.teamHead{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 8px !important;
  padding: 40px 0px !important;
  
}
.heading-inner-team{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.teamCard{
  padding-bottom: 32px;
  height: 150vh;
  
}

.teamCardmobile{
  display: none;
}

.teamWrapper 
{
  height: 150vh;
  overflow-y: scroll;
  overflow-x: hidden !important;
}

.team-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.rect-pics{
  display: flex;
  position: relative;
  justify-content: center;
  width: 90%;
  height: 150px;
  /* background-color: #fddd3a; */
  background-color: #77456ab4;
}

.rect-info{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 150px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f8f8f8;
}

.team-pics{
  position: absolute;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  bottom: 0;
}

.team-info{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.team-pics img{
  /* margin-left:  100px;
  margin-right: 100px; */
  margin-block: justify;
}

.info{
  display: flex;
  flex: 1;
  text-size-adjust: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
  text-align: center;
  margin: 0 auto;
  
}

.info p{
  text-align: match-parent ;
  margin: 0px;
  padding: 0 20px;
}

.social{
  margin-top: 10px;
}
.social i{
  color: black !important;
  font-size: 32px;
}

/* ------ */
@media(max-width:900px){
  .teamCard{
    display: none;
  }
  .teamCardmobile{
    display: flex;
  }
  .team-pics-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
