html {
    overflow: scroll;
    overflow-x: hidden;
}
.team-screen ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body{
  font-family: 'Poppins';
}

.logo{
  margin: 16px;
}
.logo img
{
  width: 25%;
}


#team-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.teamHead{
  width: fit-content;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 8px !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.teamCard{
  padding-bottom: 32px;
}

.team-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.rect-pics{
  display: flex;
  position: relative;
  justify-content: center;
  width: 90%;
  height: 150px;
  background-color: #fddd3a;
}

.rect-info{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 150px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f8f8f8;
}

.team-pics{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  bottom: 0;
}

.team-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.team-pics img{
  margin-left:  100px;
  margin-right: 100px;
  margin-block: justify;
}

.info{
  display: flex;
  text-size-adjust: auto;
  flex-direction: column;
  align-items: center;
  justify-content: auto;
  font-size: 16px;
  color: black;
}

.info p{
  text-align: match-parent ;
  margin: 0px;
  margin-right: 10vh;
  margin-left: 10vh;
}

.social{
  margin-top: 10px;
}
.social i{
  color: black !important;
  font-size: 32px;
}

/* ------ */

