@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
/* 
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  display: grid;
  place-items: center;
} */

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
/* @media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
} */

.trackcard {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  height: 300px;
  width: 300px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (max-width: 420px) {
    .page-content{
        flex-direction: column;
        width: 350px;
    }
  .trackcard {
    /* flex-direction: column; */
    /* height: 50px; */ 
    height: 300px;
    width: 300px;
    
  }
}
.trackcard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.trackcard:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
#card1 {
  background-image: url(https://res.cloudinary.com/owasptiet/image/upload/v1645256621/hacko4/tracks/oi_wsxoch.png);
  background-size: contain;
  /* width: 300px; */
  /* height: 300px; */
  border-radius: 30px;
  border: none;
}
#card2{
  background-image: url(https://res.cloudinary.com/owasptiet/image/upload/v1645256627/hacko4/tracks/sc_cymp5j.png);
  background-size: contain;
  border-radius: 30px;
  border: none;
}
#card3{
  background-image: url(https://res.cloudinary.com/owasptiet/image/upload/v1645256625/hacko4/tracks/susdev_rgx0uk.png);
  background-size: contain;
  border-radius: 30px;
  border: none;
}
#card4{
  background-image: url(https://res.cloudinary.com/owasptiet/image/upload/v1645256569/hacko4/tracks/ft_xzjtqo.png);
  background-size: contain;
  border-radius: 30px;
  border: none;
}
#card5{
  background-image: url(https://res.cloudinary.com/owasptiet/image/upload/v1645256563/hacko4/tracks/di_za3s0t.png);
  background-size: contain;
  border-radius: 30px;
  border: none;
}

.trackcardcontent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.trackcardcontent > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .trackcard:after {
    transform: translateY(0);
  }

  .trackcardcontent {
    transform: translateY(calc(100% - 4.5rem));
  }
  .trackcardcontent > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .trackcard:hover,
.trackcard:focus-within {
    align-items: center;
  }
  .trackcard:hover:before,
.trackcard:focus-within:before {
    transform: translateY(-4%);
  }
  .trackcard:hover:after,
.trackcard:focus-within:after {
    transform: translateY(-50%);
  }
  .trackcard:hover .trackcardcontent,
.trackcard:focus-within .trackcardcontent {
    transform: translateY(0);
  }
  .trackcard:hover .trackcardcontent > *:not(.title),
.trackcard:focus-within .trackcardcontent > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .trackcard:focus-within:before, .trackcard:focus-within:after,
.trackcard:focus-within .trackcardcontent,
.trackcard:focus-within .trackcardcontent > *:not(.title) {
    transition-duration: 0s;
  }
}